<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>uproxide.textures/TWS_Background.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1280,720}</string>
			<key>spriteSourceSize</key>
			<string>{1280,720}</string>
			<key>textureRect</key>
			<string>{{0,0},{1280,720}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Credits.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{87,84}</string>
			<key>spriteSourceSize</key>
			<string>{88,84}</string>
			<key>textureRect</key>
			<string>{{0,722},{87,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_DeleteButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{89,722},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_DownloadButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{185,722},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{277,277}</string>
			<key>spriteSourceSize</key>
			<string>{277,277}</string>
			<key>textureRect</key>
			<string>{{281,722},{277,277}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_FileButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{560,722},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_InfoButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{656,722},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Logo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{573,69}</string>
			<key>spriteSourceSize</key>
			<string>{573,69}</string>
			<key>textureRect</key>
			<string>{{560,816},{573,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_MainButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{90,96}</string>
			<key>spriteSourceSize</key>
			<string>{90,96}</string>
			<key>textureRect</key>
			<string>{{1135,722},{90,96}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_Outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{650,507}</string>
			<key>spriteSourceSize</key>
			<string>{650,507}</string>
			<key>textureRect</key>
			<string>{{560,887},{650,507}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_PlaceholderLogo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{166,166}</string>
			<key>spriteSourceSize</key>
			<string>{168,168}</string>
			<key>textureRect</key>
			<string>{{0,816},{166,166}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_RefreshButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,94}</string>
			<key>spriteSourceSize</key>
			<string>{92,94}</string>
			<key>textureRect</key>
			<string>{{168,816},{92,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>uproxide.textures/TWS_SearchButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,37}</string>
			<key>spriteSourceSize</key>
			<string>{39,37}</string>
			<key>textureRect</key>
			<string>{{1233,722},{39,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Update.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,87}</string>
			<key>spriteSourceSize</key>
			<string>{38,87}</string>
			<key>textureRect</key>
			<string>{{1233,761},{37,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>uproxide.textures/TWS_Workshop.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{381,59}</string>
			<key>spriteSourceSize</key>
			<string>{381,59}</string>
			<key>textureRect</key>
			<string>{{168,1001},{381,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>uproxide.textures/TWSSheet-hd.png</string>
		<key>size</key>
		<string>{1280,1394}</string>
		<key>textureFileName</key>
		<string>uproxide.textures/TWSSheet-hd.png</string>
	</dict>
</dict>
</plist>