<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bird_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{147,61}</string>
			<key>spriteSourceSize</key>
			<string>{147,61}</string>
			<key>textureRect</key>
			<string>{{0,0},{147,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{138,59}</string>
			<key>spriteSourceSize</key>
			<string>{138,59}</string>
			<key>textureRect</key>
			<string>{{148,0},{138,59}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_01_3_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,59}</string>
			<key>spriteSize</key>
			<string>{122,91}</string>
			<key>spriteSourceSize</key>
			<string>{122,91}</string>
			<key>textureRect</key>
			<string>{{287,0},{122,91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>bird_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{155,69}</string>
			<key>spriteSourceSize</key>
			<string>{155,69}</string>
			<key>textureRect</key>
			<string>{{410,0},{155,69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/bird_01-uhd.png</string>
		<key>size</key>
		<string>{566,91}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/bird_01-uhd.png</string>
	</dict>
</dict>
</plist>
