<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>player_54_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{0,0},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_54_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-20}</string>
			<key>spriteSize</key>
			<string>{102,70}</string>
			<key>spriteSourceSize</key>
			<string>{102,110}</string>
			<key>textureRect</key>
			<string>{{121,0},{102,70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>player_54_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{129,130}</string>
			<key>spriteSourceSize</key>
			<string>{129,130}</string>
			<key>textureRect</key>
			<string>{{224,0},{129,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/player_54-uhd.png</string>
		<key>size</key>
		<string>{354,130}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/player_54-uhd.png</string>
	</dict>
</dict>
</plist>
