<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_10_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,6}</string>
			<key>spriteSize</key>
			<string>{154,94}</string>
			<key>spriteSourceSize</key>
			<string>{160,106}</string>
			<key>textureRect</key>
			<string>{{0,0},{94,154}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_10_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{28,22}</string>
			<key>spriteSize</key>
			<string>{94,52}</string>
			<key>spriteSourceSize</key>
			<string>{150,96}</string>
			<key>textureRect</key>
			<string>{{95,0},{52,94}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_10_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,6}</string>
			<key>spriteSize</key>
			<string>{162,102}</string>
			<key>spriteSourceSize</key>
			<string>{168,114}</string>
			<key>textureRect</key>
			<string>{{148,0},{162,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{50,54}</string>
			<key>spriteSourceSize</key>
			<string>{58,54}</string>
			<key>textureRect</key>
			<string>{{311,0},{50,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-18,0}</string>
			<key>spriteSize</key>
			<string>{18,32}</string>
			<key>spriteSourceSize</key>
			<string>{54,32}</string>
			<key>textureRect</key>
			<string>{{362,0},{18,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{58,62}</string>
			<key>spriteSourceSize</key>
			<string>{66,62}</string>
			<key>textureRect</key>
			<string>{{381,0},{58,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{440,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{459,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{474,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{62,34}</string>
			<key>spriteSourceSize</key>
			<string>{68,34}</string>
			<key>textureRect</key>
			<string>{{501,0},{34,62}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_10_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{18,-4}</string>
			<key>spriteSize</key>
			<string>{24,18}</string>
			<key>spriteSourceSize</key>
			<string>{60,26}</string>
			<key>textureRect</key>
			<string>{{536,0},{24,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_10_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{70,42}</string>
			<key>spriteSourceSize</key>
			<string>{76,42}</string>
			<key>textureRect</key>
			<string>{{561,0},{42,70}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_10-uhd.png</string>
		<key>size</key>
		<string>{604,154}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_10-uhd.png</string>
	</dict>
</dict>
</plist>
