<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_14_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,10}</string>
			<key>spriteSize</key>
			<string>{134,103}</string>
			<key>spriteSourceSize</key>
			<string>{134,103}</string>
			<key>textureRect</key>
			<string>{{0,0},{134,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-4,8}</string>
			<key>spriteSize</key>
			<string>{124,94}</string>
			<key>spriteSourceSize</key>
			<string>{124,94}</string>
			<key>textureRect</key>
			<string>{{135,0},{124,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,10}</string>
			<key>spriteSize</key>
			<string>{139,108}</string>
			<key>spriteSourceSize</key>
			<string>{139,108}</string>
			<key>textureRect</key>
			<string>{{260,0},{139,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{44,58}</string>
			<key>spriteSourceSize</key>
			<string>{46,58}</string>
			<key>textureRect</key>
			<string>{{400,0},{58,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,4}</string>
			<key>spriteSourceSize</key>
			<string>{6,4}</string>
			<key>textureRect</key>
			<string>{{459,0},{6,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{52,66}</string>
			<key>spriteSourceSize</key>
			<string>{56,66}</string>
			<key>textureRect</key>
			<string>{{466,0},{66,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{533,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{552,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{567,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{594,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_14_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,4}</string>
			<key>spriteSourceSize</key>
			<string>{6,4}</string>
			<key>textureRect</key>
			<string>{{629,0},{6,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_14_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{636,0},{62,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_14-uhd.png</string>
		<key>size</key>
		<string>{699,108}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_14-uhd.png</string>
	</dict>
</dict>
</plist>
