<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_08_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,12}</string>
			<key>spriteSize</key>
			<string>{112,100}</string>
			<key>spriteSourceSize</key>
			<string>{112,100}</string>
			<key>textureRect</key>
			<string>{{0,0},{112,100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,10}</string>
			<key>spriteSize</key>
			<string>{106,93}</string>
			<key>spriteSourceSize</key>
			<string>{106,93}</string>
			<key>textureRect</key>
			<string>{{113,0},{106,93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,12}</string>
			<key>spriteSize</key>
			<string>{120,108}</string>
			<key>spriteSourceSize</key>
			<string>{120,108}</string>
			<key>textureRect</key>
			<string>{{220,0},{120,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,54}</string>
			<key>spriteSourceSize</key>
			<string>{38,54}</string>
			<key>textureRect</key>
			<string>{{341,0},{38,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{16,16}</string>
			<key>spriteSourceSize</key>
			<string>{16,30}</string>
			<key>textureRect</key>
			<string>{{380,0},{16,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,62}</string>
			<key>spriteSourceSize</key>
			<string>{46,62}</string>
			<key>textureRect</key>
			<string>{{397,0},{62,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_08_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{460,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,4}</string>
			<key>spriteSourceSize</key>
			<string>{6,4}</string>
			<key>textureRect</key>
			<string>{{479,0},{6,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{486,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,34}</string>
			<key>textureRect</key>
			<string>{{513,0},{34,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_08_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3,-1}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{20,16}</string>
			<key>textureRect</key>
			<string>{{548,0},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_08_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,42}</string>
			<key>spriteSourceSize</key>
			<string>{62,42}</string>
			<key>textureRect</key>
			<string>{{563,0},{62,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_08-uhd.png</string>
		<key>size</key>
		<string>{626,108}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_08-uhd.png</string>
	</dict>
</dict>
</plist>
