<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_20_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,9}</string>
			<key>spriteSize</key>
			<string>{145,95}</string>
			<key>spriteSourceSize</key>
			<string>{145,95}</string>
			<key>textureRect</key>
			<string>{{0,0},{145,95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2,8}</string>
			<key>spriteSize</key>
			<string>{133,86}</string>
			<key>spriteSourceSize</key>
			<string>{133,86}</string>
			<key>textureRect</key>
			<string>{{146,0},{133,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,9}</string>
			<key>spriteSize</key>
			<string>{155,106}</string>
			<key>spriteSourceSize</key>
			<string>{155,106}</string>
			<key>textureRect</key>
			<string>{{280,0},{155,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{46,56}</string>
			<key>spriteSourceSize</key>
			<string>{48,56}</string>
			<key>textureRect</key>
			<string>{{436,0},{46,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{38,38}</string>
			<key>spriteSourceSize</key>
			<string>{40,38}</string>
			<key>textureRect</key>
			<string>{{483,0},{38,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{54,64}</string>
			<key>spriteSourceSize</key>
			<string>{56,64}</string>
			<key>textureRect</key>
			<string>{{522,0},{64,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{22,50}</string>
			<key>spriteSourceSize</key>
			<string>{22,50}</string>
			<key>textureRect</key>
			<string>{{587,0},{22,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,46}</string>
			<key>spriteSourceSize</key>
			<string>{18,46}</string>
			<key>textureRect</key>
			<string>{{610,0},{18,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,58}</string>
			<key>spriteSourceSize</key>
			<string>{30,58}</string>
			<key>textureRect</key>
			<string>{{629,0},{30,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{61,34}</string>
			<key>spriteSourceSize</key>
			<string>{67,34}</string>
			<key>textureRect</key>
			<string>{{660,0},{34,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_20_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{13,-5}</string>
			<key>spriteSize</key>
			<string>{33,20}</string>
			<key>spriteSourceSize</key>
			<string>{59,30}</string>
			<key>textureRect</key>
			<string>{{695,0},{33,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_20_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,0}</string>
			<key>spriteSize</key>
			<string>{69,42}</string>
			<key>spriteSourceSize</key>
			<string>{75,42}</string>
			<key>textureRect</key>
			<string>{{729,0},{69,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_20-uhd.png</string>
		<key>size</key>
		<string>{799,106}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_20-uhd.png</string>
	</dict>
</dict>
</plist>
