<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_16_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,7}</string>
			<key>spriteSize</key>
			<string>{126,127}</string>
			<key>spriteSourceSize</key>
			<string>{126,127}</string>
			<key>textureRect</key>
			<string>{{0,0},{126,127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{10,30}</string>
			<key>spriteSize</key>
			<string>{116,74}</string>
			<key>spriteSourceSize</key>
			<string>{116,74}</string>
			<key>textureRect</key>
			<string>{{127,0},{116,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_01_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{27,-18}</string>
			<key>spriteSize</key>
			<string>{42,54}</string>
			<key>spriteSourceSize</key>
			<string>{42,54}</string>
			<key>textureRect</key>
			<string>{{244,0},{42,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{8,7}</string>
			<key>spriteSize</key>
			<string>{137,137}</string>
			<key>spriteSourceSize</key>
			<string>{137,137}</string>
			<key>textureRect</key>
			<string>{{287,0},{137,137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,54}</string>
			<key>spriteSourceSize</key>
			<string>{38,56}</string>
			<key>textureRect</key>
			<string>{{425,0},{38,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,4}</string>
			<key>spriteSourceSize</key>
			<string>{6,4}</string>
			<key>textureRect</key>
			<string>{{464,0},{6,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{45,62}</string>
			<key>spriteSourceSize</key>
			<string>{45,64}</string>
			<key>textureRect</key>
			<string>{{471,0},{45,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{517,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{6,4}</string>
			<key>spriteSourceSize</key>
			<string>{6,4}</string>
			<key>textureRect</key>
			<string>{{536,0},{6,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{543,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_16_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{52,38}</string>
			<key>spriteSourceSize</key>
			<string>{52,40}</string>
			<key>textureRect</key>
			<string>{{570,0},{38,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{46,32}</string>
			<key>spriteSourceSize</key>
			<string>{46,34}</string>
			<key>textureRect</key>
			<string>{{609,0},{32,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_16_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,46}</string>
			<key>spriteSourceSize</key>
			<string>{60,46}</string>
			<key>textureRect</key>
			<string>{{642,0},{60,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_16-uhd.png</string>
		<key>size</key>
		<string>{703,137}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_16-uhd.png</string>
	</dict>
</dict>
</plist>
