<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,0}</string>
			<key>spriteSize</key>
			<string>{161,85}</string>
			<key>spriteSourceSize</key>
			<string>{161,85}</string>
			<key>textureRect</key>
			<string>{{0,0},{161,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{6,-6}</string>
			<key>spriteSize</key>
			<string>{150,62}</string>
			<key>spriteSourceSize</key>
			<string>{150,62}</string>
			<key>textureRect</key>
			<string>{{162,0},{150,62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2,-1}</string>
			<key>spriteSize</key>
			<string>{171,96}</string>
			<key>spriteSourceSize</key>
			<string>{171,96}</string>
			<key>textureRect</key>
			<string>{{313,0},{171,96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_03-uhd.png</string>
		<key>size</key>
		<string>{485,96}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_03-uhd.png</string>
	</dict>
</dict>
</plist>
