<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_25_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{186,86}</string>
			<key>spriteSourceSize</key>
			<string>{186,90}</string>
			<key>textureRect</key>
			<string>{{0,0},{186,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_25_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1,9}</string>
			<key>spriteSize</key>
			<string>{140,52}</string>
			<key>spriteSourceSize</key>
			<string>{142,70}</string>
			<key>textureRect</key>
			<string>{{187,0},{52,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ship_25_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{194,92}</string>
			<key>spriteSourceSize</key>
			<string>{194,96}</string>
			<key>textureRect</key>
			<string>{{240,0},{92,194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_25-uhd.png</string>
		<key>size</key>
		<string>{333,194}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_25-uhd.png</string>
	</dict>
</dict>
</plist>
