<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_17_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{173,75}</string>
			<key>spriteSourceSize</key>
			<string>{173,75}</string>
			<key>textureRect</key>
			<string>{{0,0},{173,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_17_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-8,0}</string>
			<key>spriteSize</key>
			<string>{155,72}</string>
			<key>spriteSourceSize</key>
			<string>{171,72}</string>
			<key>textureRect</key>
			<string>{{174,0},{155,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_17_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{181,83}</string>
			<key>spriteSourceSize</key>
			<string>{181,83}</string>
			<key>textureRect</key>
			<string>{{330,0},{181,83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_17-uhd.png</string>
		<key>size</key>
		<string>{512,83}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_17-uhd.png</string>
	</dict>
</dict>
</plist>
