<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_36_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-8}</string>
			<key>spriteSize</key>
			<string>{172,94}</string>
			<key>spriteSourceSize</key>
			<string>{180,110}</string>
			<key>textureRect</key>
			<string>{{0,0},{172,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_36_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-13}</string>
			<key>spriteSize</key>
			<string>{154,76}</string>
			<key>spriteSourceSize</key>
			<string>{154,102}</string>
			<key>textureRect</key>
			<string>{{173,0},{154,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_36_extra_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-16}</string>
			<key>spriteSize</key>
			<string>{100,60}</string>
			<key>spriteSourceSize</key>
			<string>{114,92}</string>
			<key>textureRect</key>
			<string>{{328,0},{100,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_36_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4,-8}</string>
			<key>spriteSize</key>
			<string>{180,102}</string>
			<key>spriteSourceSize</key>
			<string>{188,118}</string>
			<key>textureRect</key>
			<string>{{429,0},{102,180}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_36-uhd.png</string>
		<key>size</key>
		<string>{532,180}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_36-uhd.png</string>
	</dict>
</dict>
</plist>
