<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_11_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-8}</string>
			<key>spriteSize</key>
			<string>{174,92}</string>
			<key>spriteSourceSize</key>
			<string>{188,108}</string>
			<key>textureRect</key>
			<string>{{0,0},{174,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_11_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-11,-1}</string>
			<key>spriteSize</key>
			<string>{121,64}</string>
			<key>spriteSourceSize</key>
			<string>{143,66}</string>
			<key>textureRect</key>
			<string>{{175,0},{121,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_11_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{7,-8}</string>
			<key>spriteSize</key>
			<string>{182,100}</string>
			<key>spriteSourceSize</key>
			<string>{196,116}</string>
			<key>textureRect</key>
			<string>{{297,0},{100,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_11-uhd.png</string>
		<key>size</key>
		<string>{398,182}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_11-uhd.png</string>
	</dict>
</dict>
</plist>
