<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ship_09_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{167,66}</string>
			<key>spriteSourceSize</key>
			<string>{167,66}</string>
			<key>textureRect</key>
			<string>{{0,0},{167,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_09_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-11}</string>
			<key>spriteSize</key>
			<string>{168,74}</string>
			<key>spriteSourceSize</key>
			<string>{168,96}</string>
			<key>textureRect</key>
			<string>{{168,0},{168,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ship_09_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,5}</string>
			<key>spriteSize</key>
			<string>{175,74}</string>
			<key>spriteSourceSize</key>
			<string>{175,74}</string>
			<key>textureRect</key>
			<string>{{337,0},{175,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/ship_09-uhd.png</string>
		<key>size</key>
		<string>{513,74}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/ship_09-uhd.png</string>
	</dict>
</dict>
</plist>
