<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hjfod.betteredit/backups.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{102,113}</string>
			<key>spriteSourceSize</key>
			<string>{102,113}</string>
			<key>textureRect</key>
			<string>{{0,0},{102,113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/be-button.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{160,163}</string>
			<key>spriteSourceSize</key>
			<string>{166,176}</string>
			<key>textureRect</key>
			<string>{{115,0},{160,163}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/dailyLevelCorner-brown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-4}</string>
			<key>spriteSize</key>
			<string>{190,189}</string>
			<key>spriteSourceSize</key>
			<string>{198,198}</string>
			<key>textureRect</key>
			<string>{{280,0},{190,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/dailyLevelCorner-dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-4}</string>
			<key>spriteSize</key>
			<string>{190,189}</string>
			<key>spriteSourceSize</key>
			<string>{198,198}</string>
			<key>textureRect</key>
			<string>{{472,0},{190,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/dailyLevelCorner-gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-4}</string>
			<key>spriteSize</key>
			<string>{190,189}</string>
			<key>spriteSourceSize</key>
			<string>{198,198}</string>
			<key>textureRect</key>
			<string>{{664,0},{190,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/eye-off.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{111,90}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{0,104},{111,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/eye-on-alt.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{111,85}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{113,162},{111,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/eye-on.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{111,85}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{226,191},{111,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/eye-white.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,78}</string>
			<key>spriteSourceSize</key>
			<string>{110,78}</string>
			<key>textureRect</key>
			<string>{{856,0},{110,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/support-btn-glow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{936,218}</string>
			<key>spriteSourceSize</key>
			<string>{936,218}</string>
			<key>textureRect</key>
			<string>{{0,278},{936,218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/support-btn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{866,148}</string>
			<key>spriteSourceSize</key>
			<string>{866,148}</string>
			<key>textureRect</key>
			<string>{{0,498},{866,148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hjfod.betteredit/UISheet-uhd.png</string>
		<key>size</key>
		<string>{936,646}</string>
		<key>textureFileName</key>
		<string>hjfod.betteredit/UISheet-uhd.png</string>
	</dict>
</dict>
</plist>