<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hjfod.betteredit/tab-create.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,33}</string>
			<key>spriteSourceSize</key>
			<string>{55,33}</string>
			<key>textureRect</key>
			<string>{{0,0},{55,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/tab-delete.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,44}</string>
			<key>spriteSourceSize</key>
			<string>{53,44}</string>
			<key>textureRect</key>
			<string>{{57,0},{53,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/tab-edit.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{0,35},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/tab-view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,32}</string>
			<key>spriteSourceSize</key>
			<string>{47,32}</string>
			<key>textureRect</key>
			<string>{{44,46},{47,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_bpm_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,25}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{93,46},{23,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_dash.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,25}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{93,71},{23,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_dur_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,25}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{0,79},{23,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_eff_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,25}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{27,80},{23,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_grid.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{23,22}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{54,80},{23,22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_ground.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{79,96},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_highlight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,25}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{0,104},{23,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_ldm.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{23,12}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{54,104},{23,12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_particles.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{23,23}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{27,105},{23,23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_portal_borders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,25}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{52,118},{23,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_pos_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,25}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{79,121},{23,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_prevmode.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{22,16}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{0,129},{22,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_pulse.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{23,24}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{24,130},{23,24}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_rotate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{23,25}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{50,143},{23,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_shaders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{22,21}</string>
			<key>spriteSourceSize</key>
			<string>{23,25}</string>
			<key>textureRect</key>
			<string>{{77,146},{22,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hjfod.betteredit/ViewTabSheet.png</string>
		<key>size</key>
		<string>{118,167}</string>
		<key>textureFileName</key>
		<string>hjfod.betteredit/ViewTabSheet.png</string>
	</dict>
</dict>
</plist>