<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hjfod.betteredit/tab-create.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{220,133}</string>
			<key>spriteSourceSize</key>
			<string>{220,133}</string>
			<key>textureRect</key>
			<string>{{0,0},{220,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/tab-delete.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{214,179}</string>
			<key>spriteSourceSize</key>
			<string>{214,179}</string>
			<key>textureRect</key>
			<string>{{222,0},{214,179}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/tab-edit.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{169,170}</string>
			<key>spriteSourceSize</key>
			<string>{169,170}</string>
			<key>textureRect</key>
			<string>{{0,135},{169,170}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/tab-view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{188,130}</string>
			<key>spriteSourceSize</key>
			<string>{189,130}</string>
			<key>textureRect</key>
			<string>{{172,181},{188,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_bpm_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{84,95}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{362,181},{84,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_dash.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{84,89}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{362,267},{84,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_dur_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{84,92}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{0,306},{84,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_eff_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{84,92}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{94,313},{84,92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_grid.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,3}</string>
			<key>spriteSize</key>
			<string>{75,81}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{188,313},{75,81}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_ground.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{83,75}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{271,313},{83,75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_highlight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{73,90}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{356,353},{73,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_ldm.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{80,30}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{459,0},{80,30}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_particles.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,7}</string>
			<key>spriteSize</key>
			<string>{85,81}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{188,390},{85,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_portal_borders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,98}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{0,399},{84,98}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_pos_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{84,92}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{100,399},{84,92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_prevmode.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{81,41}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{448,353},{81,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_pulse.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{75,77}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{275,390},{75,77}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_rotate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{92,101}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{354,436},{92,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_shaders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{84,67}</string>
			<key>spriteSourceSize</key>
			<string>{92,101}</string>
			<key>textureRect</key>
			<string>{{186,473},{84,67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hjfod.betteredit/ViewTabSheet-uhd.png</string>
		<key>size</key>
		<string>{489,540}</string>
		<key>textureFileName</key>
		<string>hjfod.betteredit/ViewTabSheet-uhd.png</string>
	</dict>
</dict>
</plist>