<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hjfod.betteredit/tab-create.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,66}</string>
			<key>spriteSourceSize</key>
			<string>{110,66}</string>
			<key>textureRect</key>
			<string>{{0,0},{110,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/tab-delete.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{107,89}</string>
			<key>spriteSourceSize</key>
			<string>{107,89}</string>
			<key>textureRect</key>
			<string>{{112,0},{107,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/tab-edit.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,85}</string>
			<key>spriteSourceSize</key>
			<string>{84,85}</string>
			<key>textureRect</key>
			<string>{{0,68},{84,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/tab-view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{93,65}</string>
			<key>spriteSourceSize</key>
			<string>{94,65}</string>
			<key>textureRect</key>
			<string>{{87,91},{93,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_bpm_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,50}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{182,91},{46,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_dash.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{46,48}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{182,139},{46,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_dur_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,50}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{0,154},{46,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_eff_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,50}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{52,158},{46,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_grid.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{43,42}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{104,158},{43,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_ground.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,42}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{149,187},{46,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_highlight.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{42,49}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{197,187},{42,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_ldm.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{46,20}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{0,202},{46,20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_particles.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{46,44}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{48,206},{46,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_portal_borders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,50}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{96,206},{46,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_pos_line.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,50}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{0,224},{46,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_prevmode.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{45,26}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{148,231},{45,26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_pulse.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{43,42}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{195,238},{43,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.betteredit/v_rotate.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,50}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{48,254},{46,50}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.betteredit/v_shaders.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{46,38}</string>
			<key>spriteSourceSize</key>
			<string>{46,50}</string>
			<key>textureRect</key>
			<string>{{100,254},{46,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hjfod.betteredit/ViewTabSheet-hd.png</string>
		<key>size</key>
		<string>{239,300}</string>
		<key>textureFileName</key>
		<string>hjfod.betteredit/ViewTabSheet-hd.png</string>
	</dict>
</dict>
</plist>