<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adyagd.godlikefaces/difficulty_-1_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,85}</string>
			<key>spriteSourceSize</key>
			<string>{60,85}</string>
			<key>textureRect</key>
			<string>{{0,0},{60,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_-1_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,85}</string>
			<key>spriteSourceSize</key>
			<string>{60,85}</string>
			<key>textureRect</key>
			<string>{{87,0},{60,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_0_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,85}</string>
			<key>spriteSourceSize</key>
			<string>{60,85}</string>
			<key>textureRect</key>
			<string>{{174,0},{60,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_0_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,85}</string>
			<key>spriteSourceSize</key>
			<string>{60,85}</string>
			<key>textureRect</key>
			<string>{{261,0},{60,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,91}</string>
			<key>spriteSourceSize</key>
			<string>{80,91}</string>
			<key>textureRect</key>
			<string>{{348,0},{80,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,91}</string>
			<key>spriteSourceSize</key>
			<string>{80,91}</string>
			<key>textureRect</key>
			<string>{{0,62},{80,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{97,110}</string>
			<key>spriteSourceSize</key>
			<string>{97,110}</string>
			<key>textureRect</key>
			<string>{{93,62},{97,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{97,110}</string>
			<key>spriteSourceSize</key>
			<string>{97,110}</string>
			<key>textureRect</key>
			<string>{{205,62},{97,110}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_1_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,85}</string>
			<key>spriteSourceSize</key>
			<string>{60,85}</string>
			<key>textureRect</key>
			<string>{{317,82},{60,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_1_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,85}</string>
			<key>spriteSourceSize</key>
			<string>{60,85}</string>
			<key>textureRect</key>
			<string>{{404,82},{60,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_2_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,85}</string>
			<key>spriteSourceSize</key>
			<string>{86,85}</string>
			<key>textureRect</key>
			<string>{{0,144},{86,85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_2_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{86,85}</string>
			<key>spriteSourceSize</key>
			<string>{86,85}</string>
			<key>textureRect</key>
			<string>{{317,144},{86,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_3_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{88,161},{60,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_3_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{60,84}</string>
			<key>spriteSourceSize</key>
			<string>{60,84}</string>
			<key>textureRect</key>
			<string>{{174,161},{60,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_4_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,84}</string>
			<key>spriteSourceSize</key>
			<string>{85,84}</string>
			<key>textureRect</key>
			<string>{{88,223},{85,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_4_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{85,84}</string>
			<key>spriteSourceSize</key>
			<string>{85,84}</string>
			<key>textureRect</key>
			<string>{{175,223},{85,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_5_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,85}</string>
			<key>spriteSourceSize</key>
			<string>{76,85}</string>
			<key>textureRect</key>
			<string>{{0,231},{76,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_5_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,85}</string>
			<key>spriteSourceSize</key>
			<string>{76,85}</string>
			<key>textureRect</key>
			<string>{{262,232},{76,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,89}</string>
			<key>spriteSourceSize</key>
			<string>{72,89}</string>
			<key>textureRect</key>
			<string>{{404,169},{72,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,89}</string>
			<key>spriteSourceSize</key>
			<string>{72,89}</string>
			<key>textureRect</key>
			<string>{{349,260},{72,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,107}</string>
			<key>spriteSourceSize</key>
			<string>{72,107}</string>
			<key>textureRect</key>
			<string>{{87,309},{72,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,107}</string>
			<key>spriteSourceSize</key>
			<string>{72,107}</string>
			<key>textureRect</key>
			<string>{{196,310},{72,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,85}</string>
			<key>spriteSourceSize</key>
			<string>{72,85}</string>
			<key>textureRect</key>
			<string>{{0,309},{72,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,85}</string>
			<key>spriteSourceSize</key>
			<string>{72,85}</string>
			<key>textureRect</key>
			<string>{{305,334},{72,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,104}</string>
			<key>spriteSourceSize</key>
			<string>{71,104}</string>
			<key>textureRect</key>
			<string>{{392,334},{71,104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,104}</string>
			<key>spriteSourceSize</key>
			<string>{71,104}</string>
			<key>textureRect</key>
			<string>{{0,383},{71,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,85}</string>
			<key>spriteSourceSize</key>
			<string>{72,85}</string>
			<key>textureRect</key>
			<string>{{106,383},{72,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{72,85}</string>
			<key>spriteSourceSize</key>
			<string>{72,85}</string>
			<key>textureRect</key>
			<string>{{193,384},{72,85}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{81,104}</string>
			<key>spriteSourceSize</key>
			<string>{81,104}</string>
			<key>textureRect</key>
			<string>{{280,408},{81,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{81,104}</string>
			<key>spriteSourceSize</key>
			<string>{81,104}</string>
			<key>textureRect</key>
			<string>{{0,456},{81,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,89}</string>
			<key>spriteSourceSize</key>
			<string>{74,89}</string>
			<key>textureRect</key>
			<string>{{386,440},{74,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,89}</string>
			<key>spriteSourceSize</key>
			<string>{74,89}</string>
			<key>textureRect</key>
			<string>{{106,458},{74,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,107}</string>
			<key>spriteSourceSize</key>
			<string>{76,107}</string>
			<key>textureRect</key>
			<string>{{197,458},{76,107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,107}</string>
			<key>spriteSourceSize</key>
			<string>{76,107}</string>
			<key>textureRect</key>
			<string>{{275,491},{76,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>adyagd.godlikefaces/GodlikeDiffSheet-hd.png</string>
		<key>size</key>
		<string>{476,567}</string>
		<key>textureFileName</key>
		<string>adyagd.godlikefaces/GodlikeDiffSheet-hd.png</string>
	</dict>
</dict>
</plist>