<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>adyagd.godlikefaces/difficulty_-1_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,42}</string>
			<key>spriteSourceSize</key>
			<string>{30,42}</string>
			<key>textureRect</key>
			<string>{{0,0},{30,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_-1_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,42}</string>
			<key>spriteSourceSize</key>
			<string>{30,42}</string>
			<key>textureRect</key>
			<string>{{44,0},{30,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_0_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,42}</string>
			<key>spriteSourceSize</key>
			<string>{30,42}</string>
			<key>textureRect</key>
			<string>{{88,0},{30,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_0_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,42}</string>
			<key>spriteSourceSize</key>
			<string>{30,42}</string>
			<key>textureRect</key>
			<string>{{132,0},{30,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,45}</string>
			<key>spriteSourceSize</key>
			<string>{40,45}</string>
			<key>textureRect</key>
			<string>{{176,0},{40,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,45}</string>
			<key>spriteSourceSize</key>
			<string>{40,45}</string>
			<key>textureRect</key>
			<string>{{0,32},{40,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,55}</string>
			<key>spriteSourceSize</key>
			<string>{48,55}</string>
			<key>textureRect</key>
			<string>{{47,32},{48,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_10_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,55}</string>
			<key>spriteSourceSize</key>
			<string>{48,55}</string>
			<key>textureRect</key>
			<string>{{104,32},{48,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_1_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,42}</string>
			<key>spriteSourceSize</key>
			<string>{30,42}</string>
			<key>textureRect</key>
			<string>{{161,42},{30,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_1_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,42}</string>
			<key>spriteSourceSize</key>
			<string>{30,42}</string>
			<key>textureRect</key>
			<string>{{205,42},{30,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_2_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,42}</string>
			<key>spriteSourceSize</key>
			<string>{43,42}</string>
			<key>textureRect</key>
			<string>{{0,74},{43,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_2_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,42}</string>
			<key>spriteSourceSize</key>
			<string>{43,42}</string>
			<key>textureRect</key>
			<string>{{161,74},{43,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_3_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,42}</string>
			<key>spriteSourceSize</key>
			<string>{30,42}</string>
			<key>textureRect</key>
			<string>{{45,82},{30,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_3_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,42}</string>
			<key>spriteSourceSize</key>
			<string>{30,42}</string>
			<key>textureRect</key>
			<string>{{89,82},{30,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_4_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{45,114},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_4_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{42,42}</string>
			<key>textureRect</key>
			<string>{{89,114},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_5_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,42}</string>
			<key>spriteSourceSize</key>
			<string>{38,42}</string>
			<key>textureRect</key>
			<string>{{0,118},{38,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_5_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,42}</string>
			<key>spriteSourceSize</key>
			<string>{38,42}</string>
			<key>textureRect</key>
			<string>{{133,119},{38,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,44}</string>
			<key>spriteSourceSize</key>
			<string>{36,44}</string>
			<key>textureRect</key>
			<string>{{177,119},{36,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,44}</string>
			<key>spriteSourceSize</key>
			<string>{36,44}</string>
			<key>textureRect</key>
			<string>{{177,157},{36,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,53}</string>
			<key>spriteSourceSize</key>
			<string>{36,53}</string>
			<key>textureRect</key>
			<string>{{44,158},{36,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_6_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,53}</string>
			<key>spriteSourceSize</key>
			<string>{36,53}</string>
			<key>textureRect</key>
			<string>{{99,159},{36,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,42}</string>
			<key>spriteSourceSize</key>
			<string>{36,42}</string>
			<key>textureRect</key>
			<string>{{0,158},{36,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,42}</string>
			<key>spriteSourceSize</key>
			<string>{36,42}</string>
			<key>textureRect</key>
			<string>{{154,195},{36,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,52}</string>
			<key>spriteSourceSize</key>
			<string>{35,52}</string>
			<key>textureRect</key>
			<string>{{0,196},{35,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_7_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,52}</string>
			<key>spriteSourceSize</key>
			<string>{35,52}</string>
			<key>textureRect</key>
			<string>{{54,197},{35,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,42}</string>
			<key>spriteSourceSize</key>
			<string>{36,42}</string>
			<key>textureRect</key>
			<string>{{108,197},{36,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,42}</string>
			<key>spriteSourceSize</key>
			<string>{36,42}</string>
			<key>textureRect</key>
			<string>{{198,195},{36,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,52}</string>
			<key>spriteSourceSize</key>
			<string>{40,52}</string>
			<key>textureRect</key>
			<string>{{0,233},{40,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_8_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,52}</string>
			<key>spriteSourceSize</key>
			<string>{40,52}</string>
			<key>textureRect</key>
			<string>{{54,234},{40,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_0_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,44}</string>
			<key>spriteSourceSize</key>
			<string>{37,44}</string>
			<key>textureRect</key>
			<string>{{152,233},{37,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_0_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,44}</string>
			<key>spriteSourceSize</key>
			<string>{37,44}</string>
			<key>textureRect</key>
			<string>{{108,235},{37,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_1_3_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,53}</string>
			<key>spriteSourceSize</key>
			<string>{38,53}</string>
			<key>textureRect</key>
			<string>{{198,239},{38,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>adyagd.godlikefaces/difficulty_9_1_4_god.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,53}</string>
			<key>spriteSourceSize</key>
			<string>{38,53}</string>
			<key>textureRect</key>
			<string>{{0,276},{38,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>adyagd.godlikefaces/GodlikeDiffSheet.png</string>
		<key>size</key>
		<string>{236,314}</string>
		<key>textureFileName</key>
		<string>adyagd.godlikefaces/GodlikeDiffSheet.png</string>
	</dict>
</dict>
</plist>