<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>itzkiba.better_progression/default.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{0,0},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/glow_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{82,89}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{80,0},{82,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/glow_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{82,89}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{171,0},{82,89}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/glow_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{114,89}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{262,0},{114,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{114,89}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{378,0},{114,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{138,89}</string>
			<key>spriteSourceSize</key>
			<string>{150,150}</string>
			<key>textureRect</key>
			<string>{{494,0},{138,89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/shadow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{97,105}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{634,0},{97,105}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/shineball.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{189,189}</string>
			<key>spriteSourceSize</key>
			<string>{200,200}</string>
			<key>textureRect</key>
			<string>{{741,0},{189,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{932,0},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier0_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{1012,0},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier0_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{932,73},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{0,84},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{103,84},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{1035,73},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier10_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{230,91},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier10_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{310,91},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{413,91},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{516,99},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{643,99},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier11_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{1035,146},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier11_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{932,153},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{0,164},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{103,164},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier12.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{230,171},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{357,171},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier1_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{643,172},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier1_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{437,179},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{540,179},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{723,191},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{850,191},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier2_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{1035,219},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier2_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{930,233},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{0,244},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{103,244},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{357,244},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier3_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{643,245},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier3_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{230,251},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{437,259},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{723,271},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{540,259},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier4_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{850,264},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier4_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{930,313},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{1033,292},{101,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier4_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{0,324},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{333,317},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier5_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{620,318},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier5_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{127,324},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{230,331},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{413,339},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{540,332},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier6_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{850,337},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier6_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{700,351},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{930,393},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{0,404},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{333,390},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier7_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{620,391},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier7_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{127,404},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{803,410},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{413,419},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{1033,395},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier8_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{540,405},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier8_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{230,411},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{700,431},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{906,473},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{333,463},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier9_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{71,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{620,464},{71,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier9_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{0,484},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{101,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{103,484},{101,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{125,78}</string>
			<key>spriteSourceSize</key>
			<string>{125,125}</string>
			<key>textureRect</key>
			<string>{{206,491},{125,78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tierup.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-2}</string>
			<key>spriteSize</key>
			<string>{354,77}</string>
			<key>spriteSourceSize</key>
			<string>{377,89}</string>
			<key>textureRect</key>
			<string>{{333,537},{354,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{500,331}</string>
			<key>spriteSourceSize</key>
			<string>{500,500}</string>
			<key>textureRect</key>
			<string>{{206,616},{500,331}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>itzkiba.better_progression/badgeSpritesheet-hd.png</string>
		<key>size</key>
		<string>{1113,947}</string>
		<key>textureFileName</key>
		<string>itzkiba.better_progression/badgeSpritesheet-hd.png</string>
	</dict>
</dict>
</plist>