<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>itzkiba.better_progression/default.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{0,0},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/glow_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{43,0},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/glow_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,44}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{89,0},{41,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/glow_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,44}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{135,0},{57,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{57,44}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{194,0},{57,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/glow_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{69,44}</string>
			<key>spriteSourceSize</key>
			<string>{75,75}</string>
			<key>textureRect</key>
			<string>{{253,0},{69,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/shadow.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,54}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{324,0},{52,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/shineball.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,94}</string>
			<key>spriteSourceSize</key>
			<string>{100,100}</string>
			<key>textureRect</key>
			<string>{{380,0},{94,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{476,0},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier0_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{519,0},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier0_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{476,40},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{0,43},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier0_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{54,43},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{118,46},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier10_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{161,46},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier10_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{204,46},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{258,46},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier10_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{312,54},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{476,83},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier11_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{519,83},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier11_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{0,86},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{54,86},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier11_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{108,86},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier12.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{172,89},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{236,89},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier1_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{376,96},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier1_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{419,96},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{279,97},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier1_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{333,97},{62,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier2_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{473,123},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier2_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{516,123},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier2_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{0,129},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{54,129},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier2_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{108,129},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{236,129},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier3_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{172,132},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier3_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{376,139},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{279,140},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier3_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{430,139},{62,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier4_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{333,161},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier4_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{473,163},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier4_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{215,169},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{0,172},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier4_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{54,172},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{516,163},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier5_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{118,172},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier5_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{161,172},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{376,182},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier5_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{269,183},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{333,201},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier6_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{430,203},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier6_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{473,203},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{215,212},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier6_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{118,215},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{0,215},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier7_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{43,215},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier7_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{376,225},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{269,226},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier7_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{430,246},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{323,241},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier8_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{494,246},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier8_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{182,255},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{0,255},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier8_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{54,255},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_0.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{118,258},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier9_1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{38,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{366,268},{38,41}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>itzkiba.better_progression/tier9_2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{236,269},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{52,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{290,281},{52,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tier9_4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{62,41}</string>
			<key>spriteSourceSize</key>
			<string>{62,62}</string>
			<key>textureRect</key>
			<string>{{494,286},{62,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/tierup.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{179,40}</string>
			<key>spriteSourceSize</key>
			<string>{188,44}</string>
			<key>textureRect</key>
			<string>{{0,298},{179,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>itzkiba.better_progression/view.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{250,169}</string>
			<key>spriteSourceSize</key>
			<string>{250,250}</string>
			<key>textureRect</key>
			<string>{{181,324},{250,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>itzkiba.better_progression/badgeSpritesheet.png</string>
		<key>size</key>
		<string>{560,493}</string>
		<key>textureFileName</key>
		<string>itzkiba.better_progression/badgeSpritesheet.png</string>
	</dict>
</dict>
</plist>