<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ninxout.redash/RD_betterinfo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,68}</string>
			<key>spriteSourceSize</key>
			<string>{94,68}</string>
			<key>textureRect</key>
			<string>{{0,0},{94,68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_create.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{126,123}</string>
			<key>spriteSourceSize</key>
			<string>{126,123}</string>
			<key>textureRect</key>
			<string>{{96,0},{126,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_eventCrown_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-2}</string>
			<key>spriteSize</key>
			<string>{161,119}</string>
			<key>spriteSourceSize</key>
			<string>{161,126}</string>
			<key>textureRect</key>
			<string>{{224,0},{161,119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,116}</string>
			<key>spriteSourceSize</key>
			<string>{109,116}</string>
			<key>textureRect</key>
			<string>{{387,0},{109,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gauntlets.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{116,122}</string>
			<key>spriteSourceSize</key>
			<string>{116,122}</string>
			<key>textureRect</key>
			<string>{{387,111},{116,122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gddp.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{96,93}</string>
			<key>spriteSourceSize</key>
			<string>{96,93}</string>
			<key>textureRect</key>
			<string>{{0,70},{96,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gddp2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{105,94}</string>
			<key>spriteSourceSize</key>
			<string>{105,94}</string>
			<key>textureRect</key>
			<string>{{224,121},{105,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_leaderboards.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{140,129}</string>
			<key>spriteSourceSize</key>
			<string>{140,129}</string>
			<key>textureRect</key>
			<string>{{0,168},{140,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_lists.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{107,117}</string>
			<key>spriteSourceSize</key>
			<string>{107,117}</string>
			<key>textureRect</key>
			<string>{{142,217},{107,117}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_mainLevel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{404,303}</string>
			<key>spriteSourceSize</key>
			<string>{404,303}</string>
			<key>textureRect</key>
			<string>{{142,326},{404,303}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mainLevelsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{484,72}</string>
			<key>spriteSourceSize</key>
			<string>{484,72}</string>
			<key>textureRect</key>
			<string>{{0,631},{484,72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mappacks.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{111,78}</string>
			<key>spriteSourceSize</key>
			<string>{111,78}</string>
			<key>textureRect</key>
			<string>{{486,631},{111,78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_paths.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{156,99}</string>
			<key>spriteSourceSize</key>
			<string>{156,99}</string>
			<key>textureRect</key>
			<string>{{0,705},{156,99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_paths_02.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{109,74}</string>
			<key>spriteSourceSize</key>
			<string>{109,74}</string>
			<key>textureRect</key>
			<string>{{158,705},{109,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_quests.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,84}</string>
			<key>spriteSourceSize</key>
			<string>{78,84}</string>
			<key>textureRect</key>
			<string>{{269,705},{78,84}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_roulette.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{91,95}</string>
			<key>spriteSourceSize</key>
			<string>{91,95}</string>
			<key>textureRect</key>
			<string>{{355,705},{91,95}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_safe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{95,104}</string>
			<key>spriteSourceSize</key>
			<string>{95,104}</string>
			<key>textureRect</key>
			<string>{{452,744},{95,104}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_saved.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{133,112}</string>
			<key>spriteSourceSize</key>
			<string>{133,112}</string>
			<key>textureRect</key>
			<string>{{158,785},{133,112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,111}</string>
			<key>spriteSourceSize</key>
			<string>{110,111}</string>
			<key>textureRect</key>
			<string>{{293,798},{110,111}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_superexpert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{110,88}</string>
			<key>spriteSourceSize</key>
			<string>{110,88}</string>
			<key>textureRect</key>
			<string>{{0,806},{110,88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>ninxout.redash/redashsheet1-hd.png</string>
		<key>size</key>
		<string>{564,908}</string>
		<key>textureFileName</key>
		<string>ninxout.redash/redashsheet1-hd.png</string>
	</dict>
</dict>
</plist>