<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ninxout.redash/RD_betterinfo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,34}</string>
			<key>spriteSourceSize</key>
			<string>{47,34}</string>
			<key>textureRect</key>
			<string>{{0,0},{47,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_create.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{63,61}</string>
			<key>spriteSourceSize</key>
			<string>{63,61}</string>
			<key>textureRect</key>
			<string>{{49,0},{63,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_eventCrown_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{80,61}</string>
			<key>spriteSourceSize</key>
			<string>{80,63}</string>
			<key>textureRect</key>
			<string>{{114,0},{80,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_featured.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,58}</string>
			<key>spriteSourceSize</key>
			<string>{54,58}</string>
			<key>textureRect</key>
			<string>{{196,0},{54,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gauntlets.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{58,61}</string>
			<key>spriteSourceSize</key>
			<string>{58,61}</string>
			<key>textureRect</key>
			<string>{{196,56},{58,61}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gddp.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,46}</string>
			<key>spriteSourceSize</key>
			<string>{48,46}</string>
			<key>textureRect</key>
			<string>{{0,36},{48,46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_gddp2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,47}</string>
			<key>spriteSourceSize</key>
			<string>{52,47}</string>
			<key>textureRect</key>
			<string>{{48,63},{52,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_leaderboards.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{70,64}</string>
			<key>spriteSourceSize</key>
			<string>{70,64}</string>
			<key>textureRect</key>
			<string>{{102,63},{70,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_lists.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,58}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{0,112},{53,58}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_mainLevel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{202,151}</string>
			<key>spriteSourceSize</key>
			<string>{202,151}</string>
			<key>textureRect</key>
			<string>{{60,129},{202,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mainLevelsLabel.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{242,36}</string>
			<key>spriteSourceSize</key>
			<string>{242,36}</string>
			<key>textureRect</key>
			<string>{{0,282},{242,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_mappacks.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,39}</string>
			<key>spriteSourceSize</key>
			<string>{55,39}</string>
			<key>textureRect</key>
			<string>{{0,320},{55,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_paths.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{78,49}</string>
			<key>spriteSourceSize</key>
			<string>{78,49}</string>
			<key>textureRect</key>
			<string>{{57,320},{78,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_paths_02.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,37}</string>
			<key>spriteSourceSize</key>
			<string>{54,37}</string>
			<key>textureRect</key>
			<string>{{244,282},{54,37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_quests.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{39,42}</string>
			<key>spriteSourceSize</key>
			<string>{39,42}</string>
			<key>textureRect</key>
			<string>{{137,320},{39,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_roulette.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,47}</string>
			<key>spriteSourceSize</key>
			<string>{45,47}</string>
			<key>textureRect</key>
			<string>{{181,320},{45,47}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>ninxout.redash/RD_safe.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,52}</string>
			<key>spriteSourceSize</key>
			<string>{47,52}</string>
			<key>textureRect</key>
			<string>{{230,338},{47,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_saved.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,56}</string>
			<key>spriteSourceSize</key>
			<string>{66,56}</string>
			<key>textureRect</key>
			<string>{{137,367},{66,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_search.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,55}</string>
			<key>spriteSourceSize</key>
			<string>{55,55}</string>
			<key>textureRect</key>
			<string>{{0,361},{55,55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>ninxout.redash/RD_superexpert.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{55,44}</string>
			<key>spriteSourceSize</key>
			<string>{55,44}</string>
			<key>textureRect</key>
			<string>{{57,371},{55,44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>ninxout.redash/redashsheet1.png</string>
		<key>size</key>
		<string>{281,423}</string>
		<key>textureFileName</key>
		<string>ninxout.redash/redashsheet1.png</string>
	</dict>
</dict>
</plist>