<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.gradientpages/comment-outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,47}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{0,0},{47,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/profile-parts.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{440,290}</string>
			<key>spriteSourceSize</key>
			<string>{440,290}</string>
			<key>textureRect</key>
			<string>{{0,49},{440,290}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/square-fill-rounded.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,41}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{0,341},{41,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/square-fill.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,41}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{43,341},{41,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/square-outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{47,47}</string>
			<key>spriteSourceSize</key>
			<string>{47,47}</string>
			<key>textureRect</key>
			<string>{{86,341},{47,47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.gradientpages/UISheet.png</string>
		<key>size</key>
		<string>{440,388}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.gradientpages/UISheet.png</string>
	</dict>
</dict>
</plist>