<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.gradientpages/comment-outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,94}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{0,0},{94,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/profile-parts.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{880,580}</string>
			<key>spriteSourceSize</key>
			<string>{880,580}</string>
			<key>textureRect</key>
			<string>{{0,96},{880,580}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/square-fill-rounded.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,76}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{0,678},{76,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/square-fill.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{76,76}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{78,678},{76,76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/square-outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{94,94}</string>
			<key>spriteSourceSize</key>
			<string>{94,94}</string>
			<key>textureRect</key>
			<string>{{156,678},{94,94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.gradientpages/UISheet-hd.png</string>
		<key>size</key>
		<string>{880,772}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.gradientpages/UISheet-hd.png</string>
	</dict>
</dict>
</plist>