<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.gradientpages/comment-outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{189,189}</string>
			<key>spriteSourceSize</key>
			<string>{189,189}</string>
			<key>textureRect</key>
			<string>{{0,0},{189,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/profile-parts.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1760,1160}</string>
			<key>spriteSourceSize</key>
			<string>{1760,1160}</string>
			<key>textureRect</key>
			<string>{{0,191},{1760,1160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/square-fill-rounded.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,143}</string>
			<key>spriteSourceSize</key>
			<string>{189,189}</string>
			<key>textureRect</key>
			<string>{{0,1353},{143,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/square-fill.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{143,143}</string>
			<key>spriteSourceSize</key>
			<string>{189,189}</string>
			<key>textureRect</key>
			<string>{{145,1353},{143,143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.gradientpages/square-outline.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{189,189}</string>
			<key>spriteSourceSize</key>
			<string>{189,189}</string>
			<key>textureRect</key>
			<string>{{290,1353},{189,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.gradientpages/UISheet-uhd.png</string>
		<key>size</key>
		<string>{1760,1542}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.gradientpages/UISheet-uhd.png</string>
	</dict>
</dict>
</plist>