<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_GameSheet04-uhd.plist</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{4,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_challengeBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,604},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_createBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{420,604},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_creatorBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{280,280}</string>
    <key>spriteSourceSize</key>
    <string>{280,280}</string>
    <key>textureRect</key>
    <string>{{0,1024},{280,280}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_dailyBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{840,604},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_eventBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1260,604},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_featuredBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,1306},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_freeLevelsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,262}</string>
    <key>spriteSourceSize</key>
    <string>{266,262}</string>
    <key>textureRect</key>
    <string>{{935,1024},{266,262}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_fullBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{322,280}</string>
    <key>spriteSourceSize</key>
    <string>{322,280}</string>
    <key>textureRect</key>
    <string>{{1203,1024},{322,280}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_gauntletsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{420,1306},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_highscoreBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{840,1306},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_listsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1260,1306},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_mapBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{0,1726},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_mapPacksBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{420,1726},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_moreGamesBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{330,280}</string>
    <key>spriteSourceSize</key>
    <string>{330,280}</string>
    <key>textureRect</key>
    <string>{{1527,1024},{330,280}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_pathsBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{840,1726},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_playBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{438,438}</string>
    <key>spriteSourceSize</key>
    <string>{438,438}</string>
    <key>textureRect</key>
    <string>{{0,2146},{438,438}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_safeBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{174,196}</string>
    <key>spriteSourceSize</key>
    <string>{174,196}</string>
    <key>textureRect</key>
    <string>{{318,168},{174,196}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_savedBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{1260,1726},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_searchBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{440,2146},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_versusBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{418,418}</string>
    <key>spriteSourceSize</key>
    <string>{418,418}</string>
    <key>textureRect</key>
    <string>{{860,2146},{418,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>GJ_weeklyBtn_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{417,418}</string>
    <key>spriteSourceSize</key>
    <string>{417,418}</string>
    <key>textureRect</key>
    <string>{{1280,2146},{417,418}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_01_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{128,164}</string>
    <key>spriteSourceSize</key>
    <string>{128,164}</string>
    <key>textureRect</key>
    <string>{{0,2},{128,164}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_02_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{122,216}</string>
    <key>spriteSourceSize</key>
    <string>{122,216}</string>
    <key>textureRect</key>
    <string>{{0,168},{122,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_03_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{192,216}</string>
    <key>spriteSourceSize</key>
    <string>{192,216}</string>
    <key>textureRect</key>
    <string>{{124,168},{192,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_04_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{250,216}</string>
    <key>spriteSourceSize</key>
    <string>{250,216}</string>
    <key>textureRect</key>
    <string>{{0,386},{250,216}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>boost_05_shine_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,206}</string>
    <key>spriteSourceSize</key>
    <string>{256,206}</string>
    <key>textureRect</key>
    <string>{{252,386},{256,206}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_dailyCrown_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{327,234}</string>
    <key>spriteSourceSize</key>
    <string>{331,238}</string>
    <key>textureRect</key>
    <string>{{282,1024},{327,234}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_eventCrown_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{322,248}</string>
    <key>spriteSourceSize</key>
    <string>{322,252}</string>
    <key>textureRect</key>
    <string>{{611,1024},{322,248}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>gj_weeklyCrown_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{327,238}</string>
    <key>spriteSourceSize</key>
    <string>{331,238}</string>
    <key>textureRect</key>
    <string>{{1680,604},{327,238}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{188,180}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{494,168},{188,180}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{242,232}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1680,1306},{242,232}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{252,264}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1680,1726},{252,264}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{256,268}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1699,2146},{256,268}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{266,272}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{1859,1024},{266,272}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{276,282}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{2009,604},{276,282}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{282,286}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{2287,604},{282,286}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{282,286}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{2571,604},{282,286}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>playerDash2_boom2_009.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{282,284}</string>
    <key>spriteSourceSize</key>
    <string>{282,288}</string>
    <key>textureRect</key>
    <string>{{2855,604},{282,284}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_01_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{149,287}</string>
    <key>spriteSourceSize</key>
    <string>{149,287}</string>
    <key>textureRect</key>
    <string>{{3139,604},{149,287}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_01_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{62,287}</string>
    <key>spriteSourceSize</key>
    <string>{62,287}</string>
    <key>textureRect</key>
    <string>{{3290,604},{62,287}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_02_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{172,288}</string>
    <key>spriteSourceSize</key>
    <string>{172,288}</string>
    <key>textureRect</key>
    <string>{{3354,604},{172,288}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_02_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{144,332}</string>
    <key>spriteSourceSize</key>
    <string>{144,332}</string>
    <key>textureRect</key>
    <string>{{3528,604},{144,332}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_03_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{198,288}</string>
    <key>spriteSourceSize</key>
    <string>{198,288}</string>
    <key>textureRect</key>
    <string>{{3674,604},{198,288}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_03_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{176,356}</string>
    <key>spriteSourceSize</key>
    <string>{176,356}</string>
    <key>textureRect</key>
    <string>{{3874,604},{176,356}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_04_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{178,295}</string>
    <key>spriteSourceSize</key>
    <string>{178,301}</string>
    <key>textureRect</key>
    <string>{{1924,1306},{178,295}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_04_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{99,347}</string>
    <key>spriteSourceSize</key>
    <string>{99,347}</string>
    <key>textureRect</key>
    <string>{{4052,604},{99,347}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_05_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,280}</string>
    <key>spriteSourceSize</key>
    <string>{132,280}</string>
    <key>textureRect</key>
    <string>{{2127,1024},{132,280}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_05_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{132,296}</string>
    <key>spriteSourceSize</key>
    <string>{132,296}</string>
    <key>textureRect</key>
    <string>{{2104,1306},{132,296}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_06_back_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{172,288}</string>
    <key>spriteSourceSize</key>
    <string>{172,288}</string>
    <key>textureRect</key>
    <string>{{2238,1306},{172,288}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>portalshine_06_front_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{86,350}</string>
    <key>spriteSourceSize</key>
    <string>{86,350}</string>
    <key>textureRect</key>
    <string>{{2412,1306},{86,350}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{872,76}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{130,2},{872,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_002.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{818,82}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{1004,2},{818,82}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_003.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{842,78}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{1824,2},{842,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_004.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{850,78}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{2668,2},{850,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_005.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{854,76}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{684,168},{854,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_006.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{854,78}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{1540,168},{854,78}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_007.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{862,76}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{2396,168},{862,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>spiderDash_008.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{870,74}</string>
    <key>spriteSourceSize</key>
    <string>{884,84}</string>
    <key>textureRect</key>
    <string>{{3260,168},{870,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>theTowerDoor_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{464,458}</string>
    <key>spriteSourceSize</key>
    <string>{464,458}</string>
    <key>textureRect</key>
    <string>{{0,2586},{464,458}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>theTowerLabel_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{368,176}</string>
    <key>spriteSourceSize</key>
    <string>{368,176}</string>
    <key>textureRect</key>
    <string>{{510,386},{368,176}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>GJ_GameSheet04-uhd.png</string>
   <key>size</key>
   <string>{4153,3046}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>GJ_GameSheet04-uhd.png</string>
  </dict>
 </dict>
</plist>
