<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>limegradient.doki-theme-gd/aqua_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{960,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{0,0},{960,540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/astolfo_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{165,-2}</string>
			<key>spriteSize</key>
			<string>{605,535}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{962,0},{605,535}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/asuna_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{960,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{1569,0},{960,540}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/azuki_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{288,-9}</string>
			<key>spriteSize</key>
			<string>{295,521}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{2111,0},{295,521}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/beatrice.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{480,270}</string>
			<key>spriteSourceSize</key>
			<string>{480,270}</string>
			<key>textureRect</key>
			<string>{{962,537},{480,270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/blank.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,32}</string>
			<key>spriteSourceSize</key>
			<string>{32,32}</string>
			<key>textureRect</key>
			<string>{{2267,2873},{32,32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/cinnamon_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{273,0}</string>
			<key>spriteSize</key>
			<string>{413,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{0,542},{413,540}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/coconut_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{254,-1}</string>
			<key>spriteSize</key>
			<string>{414,537}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{542,542},{414,537}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/darkness_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{640,360}</string>
			<key>spriteSourceSize</key>
			<string>{640,360}</string>
			<key>textureRect</key>
			<string>{{958,962},{640,360}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/echidna_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{960,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{542,1324},{960,540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/emilia_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{720,405}</string>
			<key>spriteSourceSize</key>
			<string>{720,405}</string>
			<key>textureRect</key>
			<string>{{1600,962},{720,405}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/essex_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{65,58}</string>
			<key>spriteSourceSize</key>
			<string>{65,59}</string>
			<key>textureRect</key>
			<string>{{2301,2873},{65,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/gray_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{193,-1}</string>
			<key>spriteSize</key>
			<string>{567,538}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{0,957},{567,538}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/kanna_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{46,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,55}</string>
			<key>textureRect</key>
			<string>{{2368,2873},{46,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/kanna_dark_secondary.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{49,42}</string>
			<key>spriteSourceSize</key>
			<string>{49,56}</string>
			<key>textureRect</key>
			<string>{{2416,2873},{49,42}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/mai_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,0}</string>
			<key>spriteSize</key>
			<string>{50,65}</string>
			<key>spriteSourceSize</key>
			<string>{58,65}</string>
			<key>textureRect</key>
			<string>{{2368,2924},{50,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/nagatoro_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{46,57}</string>
			<key>spriteSourceSize</key>
			<string>{54,57}</string>
			<key>textureRect</key>
			<string>{{2267,2933},{46,57}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/ram.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{32,53}</string>
			<key>spriteSourceSize</key>
			<string>{33,53}</string>
			<key>textureRect</key>
			<string>{{2326,2933},{32,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/reggie.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{9,-8}</string>
			<key>spriteSize</key>
			<string>{93,107}</string>
			<key>spriteSourceSize</key>
			<string>{117,126}</string>
			<key>textureRect</key>
			<string>{{2326,2988},{93,107}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/rem.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{33,53}</string>
			<key>spriteSourceSize</key>
			<string>{34,53}</string>
			<key>textureRect</key>
			<string>{{2267,2981},{33,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/rias_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{43,48}</string>
			<key>spriteSourceSize</key>
			<string>{46,49}</string>
			<key>textureRect</key>
			<string>{{2267,3016},{43,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/rin_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{960,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{540,1866},{960,540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/ryuko.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,55}</string>
			<key>spriteSourceSize</key>
			<string>{46,55}</string>
			<key>textureRect</key>
			<string>{{2267,3061},{40,55}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/ryuko_light.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{960,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{1502,2331},{960,540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/sayori_dark_normal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{475,270}</string>
			<key>spriteSourceSize</key>
			<string>{475,270}</string>
			<key>textureRect</key>
			<string>{{0,1526},{475,270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/soma_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{203,0}</string>
			<key>spriteSize</key>
			<string>{554,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{477,2408},{554,540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/tohru_light.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{246,-3}</string>
			<key>spriteSize</key>
			<string>{421,533}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{0,1798},{421,533}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/umi_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{960,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{1033,2873},{960,540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/v8_girls.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-22}</string>
			<key>spriteSize</key>
			<string>{960,496}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{0,2950},{960,496}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/yuno_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{53,65}</string>
			<key>spriteSourceSize</key>
			<string>{56,65}</string>
			<key>textureRect</key>
			<string>{{2324,3083},{53,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/yuri_joy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{475,270}</string>
			<key>spriteSourceSize</key>
			<string>{475,270}</string>
			<key>textureRect</key>
			<string>{{1995,2873},{475,270}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/zero_two_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{251,-8}</string>
			<key>spriteSize</key>
			<string>{457,523}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{962,3415},{457,523}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>limegradient.doki-theme-gd/StickerSheet.png</string>
		<key>size</key>
		<string>{2462,3872}</string>
		<key>textureFileName</key>
		<string>limegradient.doki-theme-gd/StickerSheet.png</string>
	</dict>
</dict>
</plist>