<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>limegradient.doki-theme-gd/aqua_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3840,2160}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{0,0},{3840,2160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/astolfo_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{663,-14}</string>
			<key>spriteSize</key>
			<string>{2400,2131}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{3842,0},{2400,2131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/asuna_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3840,2160}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{6244,0},{3840,2160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/azuki_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1153,-43}</string>
			<key>spriteSize</key>
			<string>{1160,2074}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{8406,0},{1160,2074}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/beatrice.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1920,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{3842,2133},{1920,1080}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/blank.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{1902,11436},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/cinnamon_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1094,-4}</string>
			<key>spriteSize</key>
			<string>{1651,2152}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{0,2162},{1651,2152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/coconut_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1015,-10}</string>
			<key>spriteSize</key>
			<string>{1637,2140}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{2154,2162},{1637,2140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/darkness_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2560,1440}</string>
			<key>spriteSourceSize</key>
			<string>{2560,1440}</string>
			<key>textureRect</key>
			<string>{{8406,2076},{2560,1440}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/echidna_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3840,2160}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{3793,3842},{3840,2160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/emilia_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{2880,1620}</string>
			<key>spriteSourceSize</key>
			<string>{2880,1620}</string>
			<key>textureRect</key>
			<string>{{0,4304},{2880,1620}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/essex_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{262,225}</string>
			<key>spriteSourceSize</key>
			<string>{263,238}</string>
			<key>textureRect</key>
			<string>{{8048,12297},{262,225}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/gray_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{774,-8}</string>
			<key>spriteSize</key>
			<string>{2251,2144}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{7635,4638},{2251,2144}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/kanna_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{166,165}</string>
			<key>spriteSourceSize</key>
			<string>{186,220}</string>
			<key>textureRect</key>
			<string>{{1902,11566},{166,165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/kanna_dark_secondary.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,5}</string>
			<key>spriteSize</key>
			<string>{186,150}</string>
			<key>spriteSourceSize</key>
			<string>{197,226}</string>
			<key>textureRect</key>
			<string>{{1902,11733},{186,150}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/mai_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-16,3}</string>
			<key>spriteSize</key>
			<string>{181,250}</string>
			<key>spriteSourceSize</key>
			<string>{233,263}</string>
			<key>textureRect</key>
			<string>{{1902,11885},{181,250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/nagatoro_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{165,218}</string>
			<key>spriteSourceSize</key>
			<string>{217,230}</string>
			<key>textureRect</key>
			<string>{{1902,12137},{165,218}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/ram.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,1}</string>
			<key>spriteSize</key>
			<string>{111,196}</string>
			<key>spriteSourceSize</key>
			<string>{135,213}</string>
			<key>textureRect</key>
			<string>{{8312,12297},{111,196}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/reggie.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{39,-35}</string>
			<key>spriteSize</key>
			<string>{357,408}</string>
			<key>spriteSourceSize</key>
			<string>{468,505}</string>
			<key>textureRect</key>
			<string>{{8510,12297},{357,408}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/rem.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,-1}</string>
			<key>spriteSize</key>
			<string>{113,198}</string>
			<key>spriteSourceSize</key>
			<string>{137,213}</string>
			<key>textureRect</key>
			<string>{{8920,12297},{113,198}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/rias_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,-3}</string>
			<key>spriteSize</key>
			<string>{156,177}</string>
			<key>spriteSourceSize</key>
			<string>{186,196}</string>
			<key>textureRect</key>
			<string>{{9120,12297},{156,177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/rin_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3840,2160}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{0,5926},{3840,2160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/ryuko.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{141,207}</string>
			<key>spriteSourceSize</key>
			<string>{186,221}</string>
			<key>textureRect</key>
			<string>{{9299,12297},{141,207}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/ryuko_light.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{3835,2160}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{2162,8166},{3835,2160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/sayori_dark_normal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1900,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1900,1080}</string>
			<key>textureRect</key>
			<string>{{6724,6891},{1900,1080}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/soma_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{817,0}</string>
			<key>spriteSize</key>
			<string>{2206,2160}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{6724,7973},{2206,2160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/tohru_light.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{984,-19}</string>
			<key>spriteSize</key>
			<string>{1666,2122}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{0,9768},{1666,2122}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/umi_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{3840,2160}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{5999,10135},{3840,2160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/v8_girls.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-94}</string>
			<key>spriteSize</key>
			<string>{3840,1972}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{2124,10328},{3840,1972}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/yuno_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,5}</string>
			<key>spriteSize</key>
			<string>{214,252}</string>
			<key>spriteSourceSize</key>
			<string>{227,262}</string>
			<key>textureRect</key>
			<string>{{9508,12297},{214,252}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/yuri_joy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1900,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1900,1080}</string>
			<key>textureRect</key>
			<string>{{0,11436},{1900,1080}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/zero_two_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1008,-40}</string>
			<key>spriteSize</key>
			<string>{1810,2080}</string>
			<key>spriteSourceSize</key>
			<string>{3840,2160}</string>
			<key>textureRect</key>
			<string>{{5966,12297},{1810,2080}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>limegradient.doki-theme-gd/StickerSheet-uhd.png</string>
		<key>size</key>
		<string>{9846,14107}</string>
		<key>textureFileName</key>
		<string>limegradient.doki-theme-gd/StickerSheet-uhd.png</string>
	</dict>
</dict>
</plist>