<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>limegradient.doki-theme-gd/aqua_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1920,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{0,0},{1920,1080}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/astolfo_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{331,-6}</string>
			<key>spriteSize</key>
			<string>{1205,1068}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1922,0},{1205,1068}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/asuna_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1920,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{3129,0},{1920,1080}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/azuki_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{576,-20}</string>
			<key>spriteSize</key>
			<string>{585,1039}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{4211,0},{585,1039}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/beatrice.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{960,540}</string>
			<key>spriteSourceSize</key>
			<string>{960,540}</string>
			<key>textureRect</key>
			<string>{{1922,1070},{960,540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/blank.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,64}</string>
			<key>spriteSourceSize</key>
			<string>{64,64}</string>
			<key>textureRect</key>
			<string>{{4523,4898},{64,64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/cinnamon_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{547,-1}</string>
			<key>spriteSize</key>
			<string>{825,1078}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{0,1082},{825,1078}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/coconut_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{508,-4}</string>
			<key>spriteSize</key>
			<string>{824,1072}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1080,1082},{824,1072}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/darkness_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1280,720}</string>
			<key>spriteSourceSize</key>
			<string>{1280,720}</string>
			<key>textureRect</key>
			<string>{{1906,1922},{1280,720}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/echidna_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1920,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1080,2644},{1920,1080}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/emilia_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1440,810}</string>
			<key>spriteSourceSize</key>
			<string>{1440,810}</string>
			<key>textureRect</key>
			<string>{{3188,1922},{1440,810}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/essex_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{131,115}</string>
			<key>spriteSourceSize</key>
			<string>{131,119}</string>
			<key>textureRect</key>
			<string>{{4589,4898},{131,115}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/gray_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{387,-3}</string>
			<key>spriteSize</key>
			<string>{1130,1074}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{0,1909},{1130,1074}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/kanna_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{89,87}</string>
			<key>spriteSourceSize</key>
			<string>{93,110}</string>
			<key>textureRect</key>
			<string>{{4722,4898},{89,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/kanna_dark_secondary.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{97,80}</string>
			<key>spriteSourceSize</key>
			<string>{98,113}</string>
			<key>textureRect</key>
			<string>{{4813,4898},{97,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/mai_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-8,1}</string>
			<key>spriteSize</key>
			<string>{96,129}</string>
			<key>spriteSourceSize</key>
			<string>{116,131}</string>
			<key>textureRect</key>
			<string>{{4722,4987},{96,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/nagatoro_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{87,113}</string>
			<key>spriteSourceSize</key>
			<string>{108,115}</string>
			<key>textureRect</key>
			<string>{{4523,5015},{87,113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/ram.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{60,102}</string>
			<key>spriteSourceSize</key>
			<string>{67,106}</string>
			<key>textureRect</key>
			<string>{{4853,4980},{60,102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/reggie.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{19,-17}</string>
			<key>spriteSize</key>
			<string>{182,208}</string>
			<key>spriteSourceSize</key>
			<string>{234,252}</string>
			<key>textureRect</key>
			<string>{{4638,5085},{182,208}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/rem.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{61,103}</string>
			<key>spriteSourceSize</key>
			<string>{68,106}</string>
			<key>textureRect</key>
			<string>{{4523,5104},{61,103}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/rias_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-1}</string>
			<key>spriteSize</key>
			<string>{83,93}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{4523,5167},{83,93}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/rin_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1920,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1076,3726},{1920,1080}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/ryuko.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{75,108}</string>
			<key>spriteSourceSize</key>
			<string>{93,110}</string>
			<key>textureRect</key>
			<string>{{4848,5085},{75,108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/ryuko_light.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1920,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{2998,3816},{1920,1080}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/sayori_dark_normal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{950,540}</string>
			<key>spriteSourceSize</key>
			<string>{950,540}</string>
			<key>textureRect</key>
			<string>{{0,3041},{950,540}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/soma_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{407,0}</string>
			<key>spriteSize</key>
			<string>{1105,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{952,4808},{1105,1080}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/tohru_light.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{492,-8}</string>
			<key>spriteSize</key>
			<string>{838,1064}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{0,3583},{838,1064}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/umi_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1920,1080}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{2059,4898},{1920,1080}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/v8_girls.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-45}</string>
			<key>spriteSize</key>
			<string>{1920,989}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{0,5890},{1920,989}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>limegradient.doki-theme-gd/yuno_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,1}</string>
			<key>spriteSize</key>
			<string>{107,129}</string>
			<key>spriteSourceSize</key>
			<string>{113,131}</string>
			<key>textureRect</key>
			<string>{{4618,5269},{107,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/yuri_joy.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{950,540}</string>
			<key>spriteSourceSize</key>
			<string>{950,540}</string>
			<key>textureRect</key>
			<string>{{3981,4898},{950,540}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>limegradient.doki-theme-gd/zero_two_dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{504,-18}</string>
			<key>spriteSize</key>
			<string>{910,1043}</string>
			<key>spriteSourceSize</key>
			<string>{1920,1080}</string>
			<key>textureRect</key>
			<string>{{1922,5980},{910,1043}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>limegradient.doki-theme-gd/StickerSheet-hd.png</string>
		<key>size</key>
		<string>{4923,6890}</string>
		<key>textureFileName</key>
		<string>limegradient.doki-theme-gd/StickerSheet-hd.png</string>
	</dict>
</dict>
</plist>