<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hjfod.backups/backups.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,56}</string>
			<key>spriteSourceSize</key>
			<string>{51,56}</string>
			<key>textureRect</key>
			<string>{{0,0},{51,56}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.backups/moved-2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{220,66}</string>
			<key>spriteSourceSize</key>
			<string>{221,67}</string>
			<key>textureRect</key>
			<string>{{0,53},{220,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.backups/moved-3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{86,77}</string>
			<key>spriteSourceSize</key>
			<string>{88,80}</string>
			<key>textureRect</key>
			<string>{{0,121},{86,77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.backups/moved.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{220,79}</string>
			<key>spriteSourceSize</key>
			<string>{221,80}</string>
			<key>textureRect</key>
			<string>{{0,200},{220,79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hjfod.backups/BackupSheet-hd.png</string>
		<key>size</key>
		<string>{220,279}</string>
		<key>textureFileName</key>
		<string>hjfod.backups/BackupSheet-hd.png</string>
	</dict>
</dict>
</plist>