<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>hjfod.backups/backups.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{102,113}</string>
			<key>spriteSourceSize</key>
			<string>{102,113}</string>
			<key>textureRect</key>
			<string>{{0,0},{102,113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>hjfod.backups/moved-2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{430,125}</string>
			<key>spriteSourceSize</key>
			<string>{442,134}</string>
			<key>textureRect</key>
			<string>{{0,104},{430,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.backups/moved-3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{164,146}</string>
			<key>spriteSourceSize</key>
			<string>{177,160}</string>
			<key>textureRect</key>
			<string>{{0,231},{164,146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>hjfod.backups/moved.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-3}</string>
			<key>spriteSize</key>
			<string>{430,151}</string>
			<key>spriteSourceSize</key>
			<string>{442,160}</string>
			<key>textureRect</key>
			<string>{{0,379},{430,151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>hjfod.backups/BackupSheet-uhd.png</string>
		<key>size</key>
		<string>{430,530}</string>
		<key>textureFileName</key>
		<string>hjfod.backups/BackupSheet-uhd.png</string>
	</dict>
</dict>
</plist>